@using MvcStok.Models.Entity
@model List<TblSatislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>PERSONEL</th>
        <th>MÜŞTERİ</th>
        <th>FİYAT</th>
        <th>TARİH</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.TblUrunler.AD</td>
            <td>@x.TblPersoneller.AD @x.TblPersoneller.SOYAD</td>
            <td>@x.TblMusteriler.AD @x.TblMusteriler.SOYAD</td>
            <td>@x.FIYAT</td>
            <td>@x.TARIH</td>
        </tr>
    }
</table>
<a href="/Satis/yeniSatis/" class="btn btn-primary">Yeni Satış</a>