@using MvcKutuphane.Models.Entity
@model List<TblKitaplar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap İşlemleri</h2>
@using (Html.BeginForm("Index", "Kitap", FormMethod.Get))
{
<div style="margin-bottom:15px; margin-top:15px;">
    <b>Aranacak Kitabı Giriniz :</b>&nbsp;
    @Html.TextBox("p")&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Ara" />
</div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD</th>
        <th>YAZAR</th>
        <th>KATEGORİ</th>
        <th>BASIM YILI</th>
        <th>YAYIN EVİ</th>
        <th>SAYFA</th>
        <th>DURUM</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.TblYazarlar.AD @x.TblYazarlar.SOYAD</td>
            <td>@x.TblKategoriler.AD</td>
            <td>@x.BASIMYIL</td>
            <td>@x.YAYINEVI</td>
            <td>@x.SAYFASAYISI</td>
            <td>@x.DURUM</td>
            <td>@Html.ActionLink("Sil", "kitapSil", new { id = x.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Kitabı Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Kitap/kitapGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kitap/kitapEkle/" class="btn btn-primary">Yeni Kitap Ekle</a>