@using MvcStok.Models.Entity
@model List<TblUrunler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Index","Urun",FormMethod.Get))
{
<p>
    Ürün Ad :&nbsp;&nbsp;@Html.TextBox("p")
    &nbsp;&nbsp;&nbsp;<input type="submit" value="Ara" />
</p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>ÜRÜN AD</th>
        <th>MARKA</th>
        <th>STOK</th>
        <th>ALIŞ FİYAT</th>
        <th>SATIŞ FİYAT</th>
        <th>KATEGORİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AD</td>
            <td>@x.MARKA</td>
            <td>@x.STOK</td>
            <td>@x.ALISFIYAT</td>
            <td>@x.SATISFIYAT</td>
            <td>@x.TblKategoriler.AD</td>
            <td><a href="/Urun/urunSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/urunGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
</table>
<a href="/Urun/yeniUrun/" class="btn btn-primary">Yeni Ürün</a>