@using MvcKutuphane.Models.Entity
@model List<TblHareketler>
@{
    ViewBag.Title = "uyeKitapGecmis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.deger</h2>
<br />
<table class="table table-striped">
    <tr>
        <th>KİTAP ADI</th>
        <th>PERSONEL</th>
        <th>ALIŞ TARİHİ</th>
        <th>İADE TARİHİ</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.TblKitaplar.AD</td>
            <td>@x.TblPersoneller.AD @x.TblPersoneller.SOYAD</td>
            <td>@Convert.ToDateTime(x.ALISTARIH).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(x.IADETARIH).ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>