@model MvcCV.Models.Sinif.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>AD</th>
            <th>SOYAD</th>
            <th>ADRES</th>
            <th>TELEFON</th>
            <th>MAIL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.deger1)
        {
        <tr>
            <th>@x.ID</th>
            <td>@x.NAME</td>
            <td>@x.SURNAME</td>
            <td>@x.ADDRESS</td>
            <td>@x.PHONE</td>
            <td>@x.MAIL</td>
            <td><a href="/Hakkimda/hakkimdaGetir/@x.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>