@model MvcStok.Models.Entity.TblMusteriler
@{
    ViewBag.Title = "yeniMusteri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <h2>Yeni Müşteri Ekleme</h2>
    <br />
    <label>Müşteri Ad :</label><br />
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.AD, "", new { @style = "color:red" })<br />
    <label>Müşteri Soyad :</label><br />
    @Html.TextBoxFor(x => x.SOYAD, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.SOYAD, "", new { @style = "color:red" })<br />
    <label>Şehir :</label><br />
    @Html.TextBoxFor(x => x.SEHIR, new { @class = "form-control" })<br />
    <label>Bakiye :</label><br />
    @Html.TextBoxFor(x => x.BAKIYE, new { @class = "form-control" })<br />
    <button class="btn btn-info">Kaydet</button>
</form> 